:root {
  --bg-color: ;
  --text-color: ;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Montserrat';
}

.error {
  background: rgb(255, 0, 0);
  color: white;
  padding: 1.5rem 0.9rem 1.5rem 2rem;
  max-width: 400px;
}

.weather-app {
  margin: 1.9rem 3rem 0 2.5rem;
}

.weather-desc-temp,
.sun-time {
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 0.3rem;
}

.weather-mid-container {
  margin: 1.8rem 1.5rem 0 0;
}

.weather-icon {
  width: 6.9rem;
}

.weather-message {
  margin-top: 1.6rem;
  font-size: 1.8rem;
}

.fc-day-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed;
}

.fc-day-temp {
  font-size: 1.2rem;
  margin: 0;
  padding: 0.3rem 0 0.1rem 0;
}

.search {
  margin-top: 2.1rem;
}

.search-bar {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  height: 1.7rem;
  width: 14rem;
}

.search-bar:focus,
.search-bar:active,
.search-bar::placeholder {
  color: var(--text-color);
  font-size: 1rem;
  text-indent: 4px;
  outline: none;
}

.search-btn {
  border: none;
  border-radius: 5px;
  background: var(--text-color);
  color: white;
  display: flex
  justify-content: center;
  font-size: 14px;
  height: 1.9rem;
  width: 4.2rem;
}

@media (min-width: 668px) {
  .weather-app {
    margin: 2.5rem auto;
    max-width: 550px;
  }

  .weather-mid-container {
    margin-top: 3rem;
  }

  .weather-message {
    margin: 2rem 0 1rem;
  }

  .fc-day-temp {
    margin-top: 1.5rem;
  }

  .search {
    margin-top: 2.5rem;
  }
}
